<!-- Code ini akan berjalan bila terjadi error -->
<% if (messages .error) { %>
<h5><%= messages.error %></h5>
<% } %>
<form method="POST" action="/login">
  <label for="username">Username</label>
  <br />
  <input type="text" name="username" placeholder="Insert your username" />
  <br />
  <label for="password">Password</label>
  <br />
  <input type="password" name="password" placeholder="Insert your password" />
  <br />
  <button type="submit">Login</button>
</form>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../public/css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <form action="/login" method="POST" class="box">
      <div class="header">
        <h4>Login To Your Account</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et enim minus iusto? Magni, repellendus dolor?</p>
      </div>
      <div class="login-area">
        <input type="text" class="username" placeholder="Username" />
        <input type="password" class="password" placeholder="Password" />
        <input type="submit" value="Login" class="submit" />
    </form>
  </body>
</html>
 -->
